<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.password">liaosc</property>
         <property name="hibernate.connection.url"><![CDATA[jdbc:mysql://localhost/CompanyDocs?useUnicode=true&characterEncoding=utf8]]></property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="DataBase/FileCompany.hbm.xml" />
        <mapping resource="DataBase/User.hbm.xml" />
        <mapping resource="DataBase/Company.hbm.xml" />
        <mapping resource="DataBase/File.hbm.xml" />
        <mapping resource="DataBase/FileTag.hbm.xml" />
        <mapping resource="DataBase/Tag.hbm.xml" />
    </session-factory>
</hibernate-configuration>
